---
import Layout from "@layouts/Layout.astro";
import { classes } from "@data/constants";

export function getStaticPaths() {
  const paths: Array<{ params: { video: string } }> = [];

  // Dinamic routes
  classes.forEach((class_) => {
    paths.push({ params: { video: `videos/${class_.title}` } });
  });
  return paths;
}

const { video } = Astro.params;
const currentClass = classes.find((class_) => class_.title === video);

if (!currentClass) {
  Astro.redirect("/404");
}
---

<script
  src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
></script>

<Layout title={`Videos de la clase ${video}`}>
  <section class="video">
    <h2 class="h2-video">
      <span>{video}</span>
    </h2>
    <div class="video-container">
      {
        currentClass && (
          <lite-youtube
            videoid={currentClass.image}
            playlistid={currentClass.url ?? ""}
          />
        )
      }
    </div>
  </section>
</Layout>

<style>
  .video {
    margin-block: clamp(1rem, 2vw, 4rem);
  }

  .h2-video {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
    color: var(--dark-grey);
    text-align: center; /* Center the title */
  }

  .video-container {
    width: calc(100% - 1rem);
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color-light-3);
    padding: clamp(0.5rem, 2vw, 2rem);
  }
</style>
