---
//Import types
import type { TrueFalseProps, GradeExerciseParams } from "@types";

import ExercisesCard from "@components/ui/ExercisesCard.astro";
import ExerciseButton from "@components/ui/ExerciseButton.astro";
import Feedback from "@components/ui/Feedback.astro";

import { createGridAttrs } from "@utils/helpers/commons";

const { inciso, exerciseText, validation } = Astro.props as TrueFalseProps;
const params = Astro.params as Partial<GradeExerciseParams>;
const grade = String(params.grade); // Asegura que es string
const exercise = String(params.exercise);

const gridAttrs = createGridAttrs(grade, exercise, inciso);
---

<ExercisesCard id="grid-item" {...gridAttrs}>
  <p><strong>{inciso}) <span set:html={exerciseText} /></strong></p>

  <!-- Answer options -->
  <div class="buttons">
    {
      validation === "true" ? (
        <>
          <ExerciseButton buttonClass="option-btn" dataValidation="correct">
            Verdadero
          </ExerciseButton>
          <ExerciseButton buttonClass="option-btn" dataValidation="incorrect">
            Falso
          </ExerciseButton>
        </>
      ) : (
        <>
          <ExerciseButton buttonClass="option-btn" dataValidation="incorrect">
            Verdadero
          </ExerciseButton>
          <ExerciseButton buttonClass="option-btn" dataValidation="correct">
            Falso
          </ExerciseButton>
        </>
      )
    }
  </div>

  <!-- Feedback space -->
  <Feedback />
</ExercisesCard>

<script src="@utils/scriptTrueFalse.ts"></script>

<style>
  .grid-item p {
    flex: 1;
  }

  .buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
  }
</style>
