---
const { grade, exerciseTitle, currentTopic, isOdd } = Astro.props;
---

<div class={`accordion__item ${isOdd ? "odd" : "even"}`}>
  <header class=`accordion__header ${isOdd ? "odd" : "even"}`>
    <h3 class="accordion__title">
      {exerciseTitle}
    </h3>
    <img
      src="/icons/bx-plus.svg"
      alt="Plus icon for the accordion "
      class="bx bx-plus accordion__icon"
    />
  </header>
  <div class=`accordion__content ${isOdd ? "odd" : "even"}`>
    {
      currentTopic.exercises
        .filter((exercise: any) => exercise.title === exerciseTitle)
        .map((exercise: any) => {
          return (
            <a class="accordion__description" href={`/${grade}/${exercise.id}`}>
              Ejercicio {exercise.id}
            </a>
          );
        })
    }
  </div>
</div>

<script src="@utils/scriptAccordion.ts"></script>

<style>
  .odd {
    --bg-color-accordion-item: hsl(28, 100%, 95%);
    --border-description-color: var(--secondary-color-light);
  }

  .even {
    --bg-color-accordion-item: hsl(200, 100%, 95%);
    --border-description-color: var(--primary-color-dark-2);
  }

  .accordion__title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.15rem;
    transition: 0.2s;
    margin-left: 10px;
  }

  .accordion__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    justify-content: space-between;
    margin-left: 10px;
  }

  .accordion__header::after {
    content: "";
    width: 4px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 10px;
    background-color: var(--border-description-color);
  }

  .accordion__description {
    font-size: 1rem;
    width: 100%;
    padding: 1rem 2.5rem;
    color: var(--dark-grey);
    display: block;
    margin-left: 10px;
  }

  .accordion__description:hover {
    background-color: var(--bg-color-accordion-item);
  }

  .accordion__icon {
    transition: 0.3s;
    margin-right: 15px;
  }

  .accordion__item {
    position: relative;
    transition: all 0.25s ease;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    border-width: solid 1px;
    background-color: white;
    overflow: hidden;
  }

  .accordion__content {
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
  }

  /*Rotate icon and add font weight to titles and border to headers*/
  .accordion-open .accordion__icon {
    transform: rotate(45deg);
  }

  .accordion-open .accordion__header {
    border-bottom: 1px solid var(--border-description-color);
  }
</style>
