---
const { grade, exerciseTitle, currentTopic, isOdd } = Astro.props;
---

<div class={`accordion__item ${isOdd ? "odd" : "even"}`}>
  <header class=`accordion__header ${isOdd ? "odd" : "even"}`>
    <img
      src="/icons/bx-plus.svg"
      alt="Plus icon for the accordion "
      class="bx bx-plus accordion__icon"
    />
    <h3 class="accordion__title">
      {exerciseTitle}
    </h3>
  </header>
  <div class=`accordion__content ${isOdd ? "odd" : "even"}`>
    {
      currentTopic.exercises
        .filter((exercise: any) => exercise.title === exerciseTitle)
        .map((exercise: any) => {
          return (
            <a class="accordion__description" href={`/${grade}/${exercise.id}`}>
              Ejercicio {exercise.id}
            </a>
          );
        })
    }
  </div>
</div>

<script src="@utils/scriptAccordion.ts"></script>

<style>
  .odd {
    --bg-color-accordion-item: hsl(28, 100%, 95%);
    --border-description-color: var(--secondary-color-light);
  }

  .even {
    --bg-color-accordion-item: hsl(200, 100%, 95%);
    --border-description-color: var(--primary-color-dark-2);
  }

  .accordion__title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.15rem;
    transition: 0.2s;
  }

  .accordion__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    cursor: pointer;
    background-color: var(--bg-color-accordion-item);
  }

  .accordion__description {
    font-size: 1rem;
    width: 100%;
    padding: 1rem 3rem;
    display: block;
    background-color: white;
  }

  .accordion__description:hover {
    background-color: var(--bg-color-accordion-item);
  }

  .accordion__icon {
    transition: 0.3s;
  }
  .accordion__item {
    position: relative;
    transition: all 0.25s ease;
  }
  .accordion__item::after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--border-description-color);
  }

  .accordion__content {
    overflow: hidden;
    height: 0;
    transition: all 0.25s ease;
  }

  /*Rotate icon and add font weight to titles and border to headers*/
  .accordion-open .accordion__icon {
    transform: rotate(45deg);
  }

  .accordion-open .accordion__header {
    border-bottom: 1px solid var(--border-description-color);
  }
</style>
