<footer class="footer">
  <p class="footer-text">Todos los derechos reservados &copy; 2024</p>
  <p>
    Contacto: <a href="mailto:info@matematicas.com">info@matematicas.com</a>
  </p>
  <p>Síguenos en <a href="#">Redes Sociales</a></p>
</footer>

<style>
  footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color-dark);
    color: var(--secondary-color-light-3);
    padding: 2rem 1rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
