---
import LogoFunction from "@assets/icons/logo-function.svg";
---

<footer class="footer">
  <div class="logo">
    <figure><LogoFunction class="svg-logo" /></figure>
    <h1 class="header-title">Matemáticas</h1>
  </div>
  <p>
    Contacto: <a href="mailto:info@matematicas.com">soporte@matematicas.edu</a>
  </p>
  <p>Síguenos:<a href="#"> Redes Sociales </a></p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249 250 251);
    opacity: 0.9;
    color: var(--dark-grey-2);
    padding: 2rem 1rem;
    align-items: center;
  }

  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .header-title {
    font-size: 1.5rem;
    color: var(--dark-grey-2);
    font-weight: 700;
    letter-spacing: 1px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .svg-logo {
    fill: var(--dark-grey-2);
    width: 2rem;
    height: auto;
  }
</style>
