---
import ArrowDown from "@assets/icons/arrow-down.svg";
import LogoFunction from "@assets/icons/logo-function.svg";
import Menu from "@assets/icons/menu.svg";
import { topics } from "@src/data/index.js";
import {
  SignedOut,
  SignedIn,
  SignInButton,
  UserButton,
} from "@clerk/astro/components";
---

<!--Header-->
<header class="header">
  <div>
    <figure><LogoFunction class="svg svg-logo" /></figure>
    <h1 class="header-title">Cesar</h1>
  </div>

  <!--Nav-->
  <nav class="navbar" id="navbar">
    <div class="mobile">
      <figure><LogoFunction class="svg-logo" /></figure>
      <h1 class="header-title">Cesar</h1>
    </div>
    <div class="navbar-list">
      <a href="/" class="navbar-item navbar-link">Inicio</a>
      <div class="navbar-item drop-down">
        <span>Ejercicios</span>
        <ArrowDown class="svg arrow" />
        <div class="menu-drop-down">
          {
            topics.map((topic) => (
              <a href={`/${topic.title}`}>{topic.title} Grado</a>
            ))
          }
        </div>
      </div>
      <SignedIn>
        <a href="/dashboard" class="navbar-item navbar-link">Progreso</a>
      </SignedIn>
      <a href="/classes" class="navbar-item navbar-link">Videoclases</a>
    </div>
  </nav>

  <!--Auth-->
  <SignedOut>
    <SignInButton mode="modal" class="auth">Login</SignInButton>
  </SignedOut>
  <SignedIn>
    <UserButton />
  </SignedIn>

  <!-- Hamburger menu -->
  <figure>
    <Menu class="menu" id="menu" />
  </figure>
</header>

<script src="@utils/scriptMenu.ts"></script>

<style>
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
  }

  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3rem;
    right: 3rem;
    height: 2px;
    background-color: var(--primary-color);
  }

  @media (max-width: 1280px) {
    .header::after {
      left: 1rem;
      right: 1rem;
    }
  }

  .mobile {
    display: none;
  }

  .header > div {
    display: flex;
    align-items: center;
  }

  .header-title {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--primary-color);
    font-weight: 700;
    pointer-events: none;
  }

  .svg-logo {
    fill: var(--secondary-color-light-2);
    width: clamp(2.5rem, 4vw, 3.5rem);
    height: auto;
  }

  .navbar {
    display: flex;
    position: relative;
    transition: 300ms;
  }

  .navbar-list {
    display: flex;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-item {
    padding: 0.5rem 1rem;
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
  }

  .navbar-item:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
  }

  .navbar-link {
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .drop-down {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .menu-drop-down {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: var(--light-grey);
    position: absolute;
    margin-top: 0.4rem;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition:
      opacity 300ms,
      transform 300ms;
  }

  /* Extend the hover area with an invisible space using ::before */
  .menu-drop-down::before {
    content: "";
    position: absolute;
    top: -0.4rem; /* Space above the element */
    left: 0;
    right: 0;
    height: 0.4rem; /* Adjust the height of the invisible area */
    pointer-events: auto; /* Ensure that this area is interactive */
  }

  .drop-down:hover .menu-drop-down {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .drop-down:hover .arrow {
    transform: rotate(180deg);
  }

  .menu-drop-down a {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .menu-drop-down a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .menu {
    display: none;
    cursor: pointer;
  }

  .auth {
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--white-color);
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    color: var(--dark-grey);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
  }

  .auth:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  @media (max-width: 768px) {
    .navbar {
      display: block;
    }

    .mobile {
      display: flex;
      align-items: center;
      margin: 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    .mobile::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 1px;
      background-color: var(--primary-color);
    }

    .menu {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg)
        brightness(90%) contrast(100%);
    }
    .menu:active {
      scale: 0.8;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: -65vw;
      background-color: rgb(255, 255, 255, 0.95);
      backdrop-filter: blur(5px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 60vw;
      height: 100vh;
      z-index: 100;
      transition: left 0.3s ease;
      overflow-y: scroll;
      scrollbar-width: none;
    }

    .navbar.open {
      left: 0;
    }

    .navbar-list {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.1em;
      margin-top: 0;
      width: 100%;
    }
    .navbar-item {
      padding: 1rem 2rem;
      color: var(--dark-grey);
      font-weight: 600;
      height: fit-content;
      border-radius:0;
    }

    .navbar-item.drop-down {
      padding-inline: 0;
      background-color: transparent;
    }

    .navbar-item.drop-down span {
      padding-left: 2rem;
    }

    .navbar-item.drop-down .menu-drop-down a {
      padding-left: 3rem;
      border-radius: 0;
    }

    .drop-down {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .menu-drop-down {
      align-items: flex-start;
      gap: 0;
      padding: 0;
      position: static;
      opacity: 1;
      transform: none;
      transition: none;
      background-color: transparent;
    }

    .drop-down a {
      padding-left: 1rem;
      text-align: left;
    }

    .drop-down:hover a {
      color: var(--dark-grey);
    }

    .drop-down .arrow {
      display: none;
    }

    .menu-drop-down a {
      padding: 0.8rem 1.5rem;
      width: 100%;
    }

    .menu-drop-down a:hover {
      background-color: var(--light-grey);
    }
  }

  @media (max-width: 550px) {
    .header-title {
      display: none;
    }

    .mobile .header-title {
      display: block;
    }
  }
</style>
