---
type Props = { title: string };

const { title } = Astro.props;
---

<section class="topics" id="topics-start">
  <div class="title-bg">
    <h2>{title}</h2>
  </div>
  <div class="topic-container">
    <slot />
  </div>
</section>

<style>
  .topics {
    margin-block: 1rem 5rem;
    background-color: var(--light-grey);
    border-radius: 15px;
    padding: 2rem;
  }

  .title-bg {
    background-color: var(--light-grey);
    border-radius: 15px;
    padding: 1rem 2rem;
    margin-top: -3.8rem;
    margin-left: -2rem;
    width: fit-content;
  }

  .title-bg h2 {
    color: var(--dark-grey);
    text-align: center;
    font-size: clamp(1.7rem, 4vw, 2rem);
    margin-bottom: 3rem;
  }

  .topic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: clamp(1rem, 4vw, 2rem);
  }
</style>
