---
import { ClientRouter } from "astro:transitions";
import Header from "@components/Header.astro";
import PreFooter from "@components/PreFooter.astro";
import Footer from "@components/Footer.astro";

type Props = { title: string };

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph tags -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Clases y ejercicios de matemáticas para estudiantes de secundaria y preuniversitarios"
    />
    <meta
      name="image"
      property="og:image"
      content="https://math.monteserin.dev/img/social-image.webp"
    />
    <meta property="og:url" content="https://math.monteserin.dev/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="Clases y ejercicios de matemáticas para estudiantes de secundaria y preuniversitarios"
    />
    <meta
      name="twitter:image"
      content="https://math.monteserin.dev/img/social-image.webp"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-pattern">
    <!--Container-->
    <Header />
    <div class="container">
      <main class="main">
        <slot />
      </main>
    </div>
    <PreFooter />
    <Footer />
  </body>
</html>

<style is:global>
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Colors */
  :root {
    --primary-color: 205, 90%, 45%;
    --primary-color-dark: 205, 90%, 55%;

    --primary-color-light: 205, 90%, 80%;
    --primary-color-light-2: 205, 90%, 95%;

    --secondary-color-dark: 16, 100%, 55%;

    --secondary-color-light: 16, 100%, 64%;
    --secondary-color-light-2: 16, 100%, 95%;

    --dark-grey: 0, 0%, 25%;
    --dark-grey-2: 0, 0%, 70%;
    --light-grey: 0, 0%, 95%;
    --light-grey-2: 240, 11%, 93%;

    /* Color for exercises */
    --correct-color: 120, 39%, 55%;
    --incorrect-color: 2, 64%, 55%;

    --background-color: 0, 0%, 98%;
    --border-background-color: 0, 0%, 85%;
    --border-btn-option: 0, 0%, 80%;
    --btn-option-hover-background-color: 0, 0%, 90%;
  }

  /* Styles for the tables */
  table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
  }
  th,
  td {
    padding: 8px;
    border: 1px solid hsla(var(--dark-grey), 0.1);
  }
  th {
    background-color: hsla(var(--dark-grey), 0.15);
  }
  tr:nth-child(even) {
    background-color: hsla(var(--dark-grey), 0.03);
  }

  /* Reduce motion */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none;
      transition: none;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  /*  Global styles */
  html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: black;
  }

  body {
    background-attachment: fixed;
  }

  .bg-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.07'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;

    /* To keep the footer in the bottom of the page
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    */
  }

  main {
    margin: 1rem;
  }

  .svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  .svg-stroke {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    fill: none;
  }

  @media (max-width: 768px) {
    .svg {
      align-items: center;
      justify-content: center;
    }
  }

  /* Styles for the Youtube Player */
  .plyr__video-embed {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 9/16 = 0.5625 */
    background-color: hsl(var(--light-grey));
    overflow: hidden;
  }

  .plyr__video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 99999;
}
</style>
