---
interface Props {
  url?: string;
  buttonType: "primary" | "outline";
  [key: string]: any; // Allow additional properties
}

const { url, buttonType, ...restProps } = Astro.props;
---

<a
  href={url}
  class={buttonType === "primary"
    ? "button button-primary"
    : "button button-outline"}
  {...restProps}
>
  <slot />
</a>

<style>
  .button {
    border: 1px solid hsl(var(--primary-color));
    border-radius: 50px;
    font-size: 16px;
    padding: 1rem 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    max-width: fit-content;
  }

  .button-primary {
    background-color: hsl(var(--primary-color-dark));
    color: white;
  }

  .button-primary:hover {
    background-color: hsl(var(--primary-color));
  }

  .button-outline {
    background-color: white;
    color: hsl(var(--dark-grey));
  }

  .button-outline:hover {
    background-color: hsl(var(--primary-color-light-2));
  }
</style>
