---
import AlertIcon from "@assets/icons/alert-feedback.svg";
---

<div id="feedback">
  <h3 id="h3-correct" style="display: none">
    <AlertIcon class="svg svg-stroke" />
    <span>¡Felicidades! Lo ha conseguido.</span>
  </h3>
  <h3 id="h3-incorrect" style="display: none">
    <AlertIcon class="svg svg-stroke" />
    <span>Lo sentimos. Su selección no es correcta.</span>
  </h3>
</div>

<style>
  #h3-correct,
  #h3-incorrect {
    padding: 1rem;
    padding-left: 2.2rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    position: relative;
  }

  #h3-correct {
    color: var(--correct-color);
    background-color: rgb(240 253 244);
    border: 1px solid rgb(187 247 208);
  }

  #h3-incorrect {
    color: var(--incorrect-color);
    background-color: rgb(254 242 242);
    border: 1px solid rgb(254 202 202);
  }

  .svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
    vertical-align: middle;
    margin-top: 1px
  }
</style>
