---
const gradeOptions = ["Todos", "7mo", "8vo", "9no", "10mo", "11no", "12mo"];
---

<div class="radio-inputs">
  {
    gradeOptions.map((grade) => (
      <label class="radio">
        <input
          type="radio"
          name="radio"
          value={grade}
          checked={grade === "Todos" ? true : undefined}
        />
        <span class="name">{grade}</span>
      </label>
    ))
  }
</div>

<style>
  .radio-inputs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    border-radius: 0.5rem;
    background-color: var(--light-grey);
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.35rem;
    font-size: 0.875rem;
    max-width: 600px;
  }

  .radio-inputs .radio {
    text-align: center;
  }

  .radio-inputs .radio input {
    display: none;
  }

  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all 0.15s ease-in-out;
  }

  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
</style>
